extends layout

block content

  //h1= title
  //p Welcome to #{title}

  div.row.col-lg-10.col-lg-offset-1
    div.contentBoxPageHeader
      p BatsUnlimited is owned and operated by ball players, and for ball players. We created the company because of a desire to make high tech equipment available for prices that were not high retail, and were affordable!
    
  div.col-lg-12.col-md-12
   div.col-lg-4.col-md-4
    div.contentBox.col-lg-12.col-md.12
     div.contentBox_header
      p.contentBox__supertitle Availability
      h2.contentBox_ArticleHeader HOURS
     div.contentBox_text
      p.contentBox_text Monday: 8:00am - 4:45 pm </br> Tuesday: 8:00am - 4:45 pm </br> Wednesday: 8:00am - 4:45 pm </br> Thursday: 8:00am - 4:45 pm </br> Friday: 8:00am - 4:45 pm </br> Saturday: closed </br> Sunday: closed </br> (All Times in Pacific Daylight Time)
    div.contentBox.col-lg-12.col-md.12
     img(src="https://mycustomblob.blob.core.windows.net/testblobcontainerstorage/Business" style="width: 100%;")   
   div.col-lg-8.col-md-8
    div.contentBox.col-lg-12.col-md.12
     div.contentBox_header
      p.contentBox__supertitle Orders
      h2.contentBox_ArticleHeader Order Bats
     div.contentBox_text
      p.contentBox_text Phone Orders: 1-800-929-0959 or 1-714-617-7810 </br></br>Fax Orders: 1-714-838-0020 24 hours. </br></br>Mail Order: Send to: BATS UNLIMITED 2852-A Walnut Ave Tustin CA 92780 Sales Tax: California residents only: add 8-% Sales Tax
    div.contentBox.col-lg-12.col-md.12
     div.contentBox_header
      p.contentBox__supertitle CUSTOMER SERVICE
      h2.contentBox_ArticleHeader Questions
     div.contentBox_text
      p.contentBox_text  We would be happy to help you with any questions you have.  Call: 1-714-617-7810  
    div.contentBox.col-lg-12.col-md.12
     div.contentBox_header
      p.contentBox__supertitle NOTE
      h2.contentBox_ArticleHeader SHIPPING LOCATIONS
     div.contentBox_text
      p.contentBox_text  WE ONLY SHIP TO  THE LOWER U.S. 48 STATES,  APO, FPO, ALASKA, HAWAII, GUAM, PUERTO RICO, and CANADA at this time !!!!!!!!!!!!! APO, FPO Hawaii, Alaska, Puerto Rico, Guam will ship Air Parcel Post. Approx 3-6 days. (Any package weighing over 2 lbs. will require an additional postage FEE of Approx. $2 per pound.)  APO, FPO Hawaii, Alaska, Puerto Rico, Guam will be charged actual shipping cost Plus $14.95 for handling of the order. Shipping charges are usually $15.00 +/- for the first pound & Approx. $3-$5 for each additional pound.
   div.col-lg-12.col-md-12
    div.contentBox.col-lg-12.col-md.12
     div.contentBox_header
      p.contentBox__supertitle RETURNS
      h2.contentBox_ArticleHeader RETURN MERCHANDISE
     div.contentBox_text
      p.contentBox_text Call Customer Service, 1-714-617-7810, for a Return Authorization Number Print this number on the OUTSIDE of your return package. Enclose a copy of your invoice or invoice number on invoice. Return merchandise in its original container. IT MUST BE UNUSED and still in the wrapper. We cannot accept used merchandise. Send insured to: BATS UNLIMITED 2852-A Walnut ave Tustin CA 92780. There may be a restocking charge of up to 20%. ( If Our fault...NO Charge! ) 
     div.contentBox_header
      h2.contentBox_ArticleHeader NON-RETURNABLE ITEMS
     div.contentBox_text
      p.contentBox_text The following merchandise MAY NOT BE RETURNED: Items ordered 20 days of invoice date, discontinued items, special order items.

   div.col-lg-12.col-md-12
    div.contentBox.col-lg-12.col-md.12
     div.contentBox_header
      p.contentBox__supertitle DEFECTS OR DAMAGE
      h2.contentBox_ArticleHeader DEFECTIVE MERCHANDISE
     div.contentBox_text
      p.contentBox_text Defective items are warrantied by the manufacturer and must be returned to them for repair or replacement. Contact us at 1-714-617-7810 for their phone number.
     div.contentBox_header
      h2.contentBox_ArticleHeader DAMAGED MERCHANDISE IN SHIPMENT
     div.contentBox_text
      p.contentBox_text Contact the Carrier we used at once if damaged.  . Do Not send merchandise back to us. (This may cancel any claim you have.) Contact us at 1-714-617-7810 for their phone number.
  div.jumbotron.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1(style='margin-top:25px')
    p This is place to put content. You can put slider, short description about your website and place some links for navigation.