extends layout

block content       


  div.row.col-lg-10.col-lg-offset-1
    div.contentBoxPageHeader
      p ALL OF OUR BATS ARE TESTED BY ALL TYPES OF PLAYERS SO WE KNOW WHAT'S HOT AND WHAT'S NOT! 

  div.row.col-lg-10.col-lg-offset-1
    div.main.col-lg-8
     div.product
      p Content. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum.
      p Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum.
      p Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum.
     br 
    div.main.col-lg-4
     div.article.col-lg-12.col-lg-offset-1
      h4 Title1
      p Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side.
      button(type="button").btn.btn-primary Article1
     div.article.col-lg-12.col-lg-offset-1(style='margin-top:30px;')
      h4 Title2
      p Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side.
      button(type="button").btn.btn-primary Article2
     div.article.col-lg-12.col-lg-offset-1(style='margin-top:30px;')
      h4 Title3
      p Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side. Content for side.
      button(type="button").btn.btn-primary Article3
     
     
  div.row.col-md-12.products
    div.jumbotron.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1.col-lg-10.col-lg-offset-1(style='margin-top:25px')
     p This is the footer content.